body{
        opacity: 1;
        background: linear-gradient(126deg, #FF0000 1%, #B53697 26%, #2E426F 49%, rgba(64, 147, 185, 0.8992) 70%, rgba(64, 255, 0, 0.6556) 98%);
        position: relative;
        width: 1724px;
        height: 2173px;
        overflow-x: hidden;
}
img{
    height: 90px;
    border-radius: 50%;
    margin-left: 20px;

}

.head{
    justify-content: space-between;
    padding: 20px;
    height: 90px;
    width: 1450px;
    background:linear-gradient(45deg,cornsilk,aqua);
    border-radius: 20px;

}

.container{
    padding: 200px;
    height: 6000px;
    width: 1100px;
    background-color: aliceblue;
    margin-top: 10px;
}

.info{
    margin-top: 0.5cm;
    padding: 10px;
    height: 1.5cm;
    width: 39cm;
    background-color: aliceblue;
    border-radius: 60px;
    justify-content: center;
    align-items: center;

}

.fa-solid{
    font-size: 40px;
    margin-left: 9cm;

}

#ap_normal{
    border-radius: 0px;
    justify-content: space-between;
    width: 12cm;
    height: 3cm;
}

#ap_normal1{
    border-radius: 0px;
    justify-content: space-between;
    width: 12cm;
    height: 5cm;
}

p{
    margin-right: 20px;
}

#ap_normal_1{
    border-radius: 0px;
    justify-content: center;
    width: 16cm;
    height: 9cm;
    background-color: aliceblue;
}

#ap_normal2{
    border-radius: 0px;
    justify-content: center;
    width: 12cm;
    height: 4cm;
}

#ap_normal3{
    border-radius: 0px;
    justify-content: center;
    width: 12cm;
    height: 8cm;
}

.search input{
    height: 1cm;
    width: 300px;
    border-radius: 50px;
    position: relative;
    margin-left: 380px;   
}

button{
    height: 1cm;
    width: 1cm;
    border-radius: 30px;

}
